body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    perspective: 40em;
    background: #000;
    color: white;
}

.assembly {
    transform: rotateX(-30deg);
}

.assembly,
.assembly * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.positioner:nth-child(1) {
    transform: rotateY(0deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(1) .prism {
    animation-delay: 0s;
}

.positioner:nth-child(1) .prism__face {
    background: #f3ece9;
}

.positioner:nth-child(1) .prism__face:nth-child(n + 5) {
    background: #61d261;
}

.positioner:nth-child(2) {
    transform: rotateY(25.71429deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(2) .prism {
    animation-delay: -0.98214s;
}

.positioner:nth-child(2) .prism__face {
    background: #eee7e4;
}

.positioner:nth-child(2) .prism__face:nth-child(n + 5) {
    background: #65ca5f;
}

.positioner:nth-child(3) {
    transform: rotateY(51.42857deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(3) .prism {
    animation-delay: -1.96429s;
}

.positioner:nth-child(3) .prism__face {
    background: #e2dad7;
}

.positioner:nth-child(3) .prism__face:nth-child(n + 5) {
    background: #70b25a;
}

.positioner:nth-child(4) {
    transform: rotateY(77.14286deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(4) .prism {
    animation-delay: -2.94643s;
}

.positioner:nth-child(4) .prism__face {
    background: #d0c7c3;
}

.positioner:nth-child(4) .prism__face:nth-child(n + 5) {
    background: #819053;
}

.positioner:nth-child(5) {
    transform: rotateY(102.85714deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(5) .prism {
    animation-delay: -3.92857s;
}

.positioner:nth-child(5) .prism__face {
    background: #bbb2ae;
}

.positioner:nth-child(5) .prism__face:nth-child(n + 5) {
    background: #936a4b;
}

.positioner:nth-child(6) {
    transform: rotateY(128.57143deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(6) .prism {
    animation-delay: -4.91071s;
}

.positioner:nth-child(6) .prism__face {
    background: #a99f9a;
}

.positioner:nth-child(6) .prism__face:nth-child(n + 5) {
    background: #a44844;
}

.positioner:nth-child(7) {
    transform: rotateY(154.28571deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(7) .prism {
    animation-delay: -5.89286s;
}

.positioner:nth-child(7) .prism__face {
    background: #9d928d;
}

.positioner:nth-child(7) .prism__face:nth-child(n + 5) {
    background: #af303f;
}

.positioner:nth-child(8) {
    transform: rotateY(180deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(8) .prism {
    animation-delay: -6.875s;
}

.positioner:nth-child(8) .prism__face {
    background: #988d88;
}

.positioner:nth-child(8) .prism__face:nth-child(n + 5) {
    background: #b3283d;
}

.positioner:nth-child(9) {
    transform: rotateY(205.71429deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(9) .prism {
    animation-delay: -7.85714s;
}

.positioner:nth-child(9) .prism__face {
    background: #9d928d;
}

.positioner:nth-child(9) .prism__face:nth-child(n + 5) {
    background: #af303f;
}

.positioner:nth-child(10) {
    transform: rotateY(231.42857deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(10) .prism {
    animation-delay: -8.83929s;
}

.positioner:nth-child(10) .prism__face {
    background: #a99f9a;
}

.positioner:nth-child(10) .prism__face:nth-child(n + 5) {
    background: #a44844;
}

.positioner:nth-child(11) {
    transform: rotateY(257.14286deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(11) .prism {
    animation-delay: -9.82143s;
}

.positioner:nth-child(11) .prism__face {
    background: #bbb2ae;
}

.positioner:nth-child(11) .prism__face:nth-child(n + 5) {
    background: #936a4b;
}

.positioner:nth-child(12) {
    transform: rotateY(282.85714deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(12) .prism {
    animation-delay: -10.80357s;
}

.positioner:nth-child(12) .prism__face {
    background: #d0c7c3;
}

.positioner:nth-child(12) .prism__face:nth-child(n + 5) {
    background: #819053;
}

.positioner:nth-child(13) {
    transform: rotateY(308.57143deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(13) .prism {
    animation-delay: -11.78571s;
}

.positioner:nth-child(13) .prism__face {
    background: #e2dad7;
}

.positioner:nth-child(13) .prism__face:nth-child(n + 5) {
    background: #70b25a;
}

.positioner:nth-child(14) {
    transform: rotateY(334.28571deg) translateZ(10.15625em) rotateX(70deg);
}

.positioner:nth-child(14) .prism {
    animation-delay: -12.76786s;
}

.positioner:nth-child(14) .prism__face {
    background: #eee7e4;
}

.positioner:nth-child(14) .prism__face:nth-child(n + 5) {
    background: #65ca5f;
}

@keyframes rot {
    0% {
        transform: rotateX(0.5turn);
    }

    100% {
        transform: rotateX(-0.5turn);
    }
}

.prism {
    animation: rot 15s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.prism__face {
    margin: -3.125em -1.5em;
    width: 3em;
    height: 6.25em;
    backface-visibility: hidden;
}

.prism__face:nth-child(n + 5) {
    margin-top: -1.5em;
    height: 3em;
}

.prism__face:nth-child(-n + 4):nth-child(2n) {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.prism__face:nth-child(1) {
    transform: rotateY(0deg) translateZ(1.5em);
}

.prism__face:nth-child(2) {
    transform: rotateY(90deg) translateZ(1.5em);
}

.prism__face:nth-child(3) {
    transform: rotateY(180deg) translateZ(1.5em);
}

.prism__face:nth-child(4) {
    transform: rotateY(270deg) translateZ(1.5em);
}

.prism__face:nth-child(5) {
    transform: rotateX(90deg) translateZ(3.125em);
}

.prism__face:nth-child(6) {
    transform: rotateX(-90deg) translateZ(3.125em);
}